:root { 
  --color-style: #b59f5b;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSans-Regular.woff2") format("woff2"), url("../fonts/OpenSans-Regular.woff") format("woff"),  url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "OpenSans";
  src: local("OpenSans"), url("../fonts/OpenSans-Bold.woff2") format("woff2"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "OpenSans", "Arial", sans-serif;
}

/* ============================== popup ============================== */

.popup__button {
  display: inline-block;
  padding: 20px;

  color: white;
  background-color: blue;
  cursor: pointer;
}

.popup__toggle {
  display: none;
}

.popup {
  display: none;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  
  background-color: rgba(0, 0, 0, 0.6);
}

.popup__toggle:checked + .popup {
  display: flex;
}

.feedback {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  width: 390px;
  height: 589px;
  
  background-color: white;
  padding: 55px 30px 20px;
}

.popup__close-btn {
  position: absolute;
  top: -27px;
  right: -3px;
  
  display: inline-flex;
  justify-content: center;
  align-items: center;
  
  width: 20px;
  height: 20px;

  background-image: url("../svg/form-x.svg");
  cursor: pointer;
}

.popup__close-background {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  cursor: pointer;
}

.h2-title {
  font-size: 14px;
  line-height: 12px;
  text-align: center;
  text-transform: uppercase;
  color: #0f0d0e;
}

.h2-title::after {
  content: "";
  display: block;
  width: 66px;
  height: 3px;
  margin: 13px auto 0;
  background-color: rgba(181, 159, 91, 0.4);
}

.feedback__h2-title {
  margin-bottom: 27px;
  font-size: 20px;
}

.feedback__visits,
.feedback__subscribe,
.feedback__comment {
  border: none;
}

.feedback__title-visits {
  margin-bottom: 9px;
  font-size: 13px;
}

.feedback__select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 100%;
  margin-bottom: 30px;
  padding: 12px 30px 15px 17px;
  
  font-size: 13px;

  background-color: #eff3f8;
  background-image: url("../svg/form-arrows.svg");
  background-position: right 13px center;
  background-repeat: no-repeat;
  background-size: 10px;

  cursor: pointer;
}

.feedback__subscribe {
  margin-bottom: 28px;
}

.feedback__title-subscribe {
  margin-bottom: 4px;
  font-size: 13px;
}

.feedback__radio {
  display: none;
}

.feedback__label {
  display: inline-block;
  margin-right: 12px;

  font-size: 13px;

  cursor: pointer;
}

.feedback__label::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  
  background-image: url("../svg/form-empty-circle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  vertical-align: middle;
  margin-right: 4px;
}

.feedback__radio:checked + .feedback__label:before {
  background-image: url("../svg/form-full-circle.svg");
}

.feedback__comment {
  margin-bottom: 22px;
}

.feedback__title-comment {
  margin-bottom: 7px;
  font-size: 13px;
}

.feedback__textarea {
  width: 100%;
  height: 130px;
  padding: 16px 20px;
  resize: none;
  
  font-size: 13px;
}

.send-button {
  width: 100%;
  height: 48px;
  border: none;

  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  background-color: var(--color-style);
}

.send-button:hover {
  background-color: #323232;
  cursor: pointer;
}

/* ============================== header ============================== */

/* баннер на всю ширину экрана */
.header {
  position: relative;
  background-image: url("../images/banner_desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  background-color: #666666;
}

/* маска: */
.header::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.header-container {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px 15px 125px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid red; */
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 104px;

  /* для лучшей визуализации границ: */
  /* outline: 2px dashed yellow; */
}

.logo {
  width: 179px;

  /* для лучшей визуализации границ: */
  /* outline: 2px dotted red; */
}

.menu__list {
  display: flex;
  gap: 35px;

  list-style-type: none;
}

.menu__link {
  font-size: 13px;
  text-transform: uppercase;

  color: #ffffff;
  text-decoration: none;
}

.menu__link:hover {
  text-decoration: underline;
}

.title-first {
  max-width: 690px;
  margin: 0 auto;

  font-size: 45px;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;

  /* для лучшей визуализации границ: */
  /* outline: 2px dashed yellow; */
}

.page {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 62px 15px 0;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid green; */
}

/* ============================== trends-section ============================== */

.trends-section {
  padding-top: 65px;
}

.trends-section__h2-title {
  margin-bottom: 30px;
  font-size: 20px;
}

.trends {
  display: flex;
  gap: 4px;
}

.trend {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;

  width: 25%;
  min-height: 320px;
  padding: 19px 25px;

  background: #eff6f1 center / cover no-repeat;
}

/* маска: */
.trend::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
}

.trend_1 {
  background-image: url("../images/trend_1.jpg");
}

.trend_2 {
  background-image: url("../images/trend_2.jpg");
}

.trend_3 {
  background-image: url("../images/trend_3.jpg");
}

.trend_4 {
  background-image: url("../images/trend_4.jpg");
}

.trend-content {
  position: relative;
  z-index: 1;

  padding: 35px 32px;
  outline: 3px solid var(--color-style);
}

.article-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0 20px;

  list-style-type: none;
}

.article-tags__item {
  line-height: 14px;
}

.article-tags__link {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-style);
}

.article-tags__link:hover {
  text-decoration: underline;
}

.trend-title {
  padding-top: 10px;
  line-height: 1.2;
}

.trend-title__link {
  display: block;

  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #ffffff;
}

.trend-title__link:hover {
  color: var(--color-style);
}

/* ============================== main ============================== */

.main {
  width: 778px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid blue; */
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip-path: circle(0);
  overflow: hidden;
} 

.article {
  display: flex;
  align-items: flex-start;
  gap: 30px;

  /* для лучшей визуализации границ: */
  /* outline: 2px dashed purple; */
}

/* микс для внешней геометрии: */
.main__article:not(:last-child) {
  margin-bottom: 60px;
}

.article-image {
  width: 381px;
}

.article-image__img {
  display: block;
  width: 100%;

  background-color: #eff6f1;
}

.article-content {
  width: 367px;
}


.article-title {
  padding: 10px 0 28px;

  line-height: 24px;
}

.article-title__link {
  display: block;

  font-size: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1px;
  color: #0f0d0e;
}

.article-title__link:hover {
  color: var(--color-style);
}

.date-author {
  display: flex;
  gap: 13px;
  padding-bottom: 46px;
  
  font-size: 12px;
}

.date-author__date {
  color: #888888;
}

.date-author__author {
  font-weight: 700;
  color: #000000;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 10px;

  font-size: 15px;
  line-height: 22px;
  color: #0f0d0e;
}

/* ============================== sidebar ============================== */

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 60px;

  width: 272px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid blue; */
}

.posts-section {
  padding: 0 1px;
}

.posts-section__h2-title {
  margin-bottom: 29px;
}

.post {
  display: flex;
  align-items: flex-start;
  gap: 19px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.post:not(:last-child) {
  margin-bottom: 22px;
}

.post-image {
  width: 70px;
}

.post-image__img {
  display: block;
  width: 100%;

  background-color: #f4f7f6;
}

.post-content {
  width: 181px; 
}

.post-content__date {
  display: block;
  margin-bottom: 5px;

  font-size: 12px;
  line-height: 9px;
  color: rgba(0, 0, 0, 0.541);
}

.post-title {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.post-title__link {
  text-decoration: none;
  color: #000000;
}

.post-title__link:hover {
  color: var(--color-style);
}

.search-form {
  display: flex;
  padding: 0 1px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.search-form__field {
  width: 222px;
  height: 48px;
  padding: 18px;
  border: none;

  font-size: 13px;
  color: rgba(0, 0, 0, 0.541);
  background-color: #f4f7f6;
}

.search-form__field:focus {
  border: 1px solid var(--color-style);
  outline: none;
}

.search-form__button {
  width: 48px;
  height: 48px;
  border: none;

  background-image: url("../svg/search.svg");
  background-size: 18px;
  background-color: var(--color-style);
  background-repeat: no-repeat;
  background-position: center center;
}

.search-form__button:hover {
  background-color: #323232;
  cursor: pointer;
}

.subscribe-form {
  width: 270px;
  padding: 0 1px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.subscribe-form__h2-title {
  margin-bottom: 23px;
}

.subscribe-form__field {
  width: 100%;
  height: 48px;
  margin-bottom: 19px;
  padding: 18px;
  border: none;

  font-size: 13px;
  color: rgba(0, 0, 0, 0.541);
  background-color: #f4f7f6;
}

.subscribe-form__field:focus {
  border: 1px solid var(--color-style);
  outline: none;
}

.tags-section {
  padding: 0 1px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.tags-section__h2-title {
  margin-bottom: 25px;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 7px 6px;

  list-style-type: none;
}

.tags__item {
  padding: 3px 13px 4px 14px;
  border: 3px solid #eeeeee;

  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.tags__item:hover {
  border: 3px solid var(--color-style);
}

.tags__link {
  text-decoration: none;
  color: #0f0d0e;
}

.themes-section {
  padding-right: 1px;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.themes-section__h2-title {
  margin-bottom: 24px;
}

.themes {
  list-style-type: none;
}

.themes__item {
  padding-bottom: 14px;
  border-bottom: 1px solid #eeeeee;

  font-size: 14px;
  font-weight: 700;
}

.themes__item:not(:first-child) {
  padding-top: 13px;
}

.themes__link {
  text-decoration: none;
  color: #000000;
}

.themes__link:hover {
  color: var(--color-style);
}

.themes__score {
  margin-left: 1px;

  font-size: 12px;
  font-weight: 700;
  vertical-align: top;
  color: var(--color-style);
}

/* ============================== products-section ============================== */

.products-section {
  max-width: 1200px;
  margin: 0 auto;
  padding: 70px 15px 0;

  /* outline: 2px  solid red; */
}

.products-section__h2-title {
  margin-bottom: 30px;
  font-size: 20px;
}

.products {
  display: flex;
  justify-content: space-between;
  gap: 66px;
}

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.333%;
}

/* чтобы не ломалась верстка, если не загрузится картинка */
picture {
  min-height: 204px;
}

.product__img {
  max-width: 100%;
  background-color: #eff6f1;
}

.product-content {
  margin-top: -33px;
  flex-grow: 1;
  padding: 48px 22px 4px;
  outline: 3px solid var(--color-style);
}

.product-title {
  margin-bottom: 3px;
  font-size: 20px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.text__link {
  text-decoration: none;
  color: var(--color-style);
}

.text__link:hover {
  text-decoration: underline;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  padding: 21px 0;
}

.product-prices {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.product-prices__price {
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  color: #0f0d0e;
}

.product-prices__price_old {
  font-size: 14px;
  text-decoration: line-through;
}

.product-prices__price_current {
  position: relative;
  top: -6px;

  font-size: 20px;
}

.product-button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 140px;
  height: 49px;

  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  color: #ffffff;

  text-decoration: none;
  background-color: var(--color-style);
}

.product-button:hover {
  background-color: #323232;;
}

/* ============================== footer ============================== */

.footer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 66px 15px 40px;

  /* для лучшей визуализации границ: */
  /* outline: 2px solid blue; */
}

.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 26px;

  padding: 33px;

  background-color: #f4f7f6;
  list-style-type: none;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.footer__socials {
  margin-bottom: 65px;
}

.socials__link {
  display: block;
  width: 20px;
  height: 20px;

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.socials__link_dribbble {
  background-image: url("../svg/icon_dribbble.svg");
}

.socials__link_pinterest {
  background-image: url("../svg/icon_pinterest.svg");
}

.socials__link_tumblr {
  background-image: url("../svg/icon_tumblr.svg");
}

.copyrights {
  font-style: normal;
  text-align: center;

  /* для лучшей визуализации границ: */
  /* outline: 1px dashed purple; */
}

.copyrights__link {
  font-size: 12px;
  font-weight: 700;
  
  color: #999999;
  text-decoration: none;
}
